<h1 class="page-title">{TITLE_IMGS_LIST}</h1><br>
<p class="imagelist_desc">{DESC_IMGS_LIST}</p>
<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dd class="dterm">
                        <div class="table-title">
                            <h2>Latest images</h2>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
        <div class="container-imgs-list" id="imageList">
            {SCRIPT_IMGS_LIST}
        </div>
    </div>
    <span class="corners-bottom"><span></span></span>
</div>